<launch>

    <include file= "$(find tractor_controller)/launch/gazebo2.launch" />
    
    <!-- Run a python script to the send a service call to gazebo_ros to
    spawn a URDF robot -->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tractor_description)/launch/urdf.rviz" /> 

</launch>